* {
    font-family: 'Antonio', sans-serif;
    color:ghostwhite;
    font-weight: 100;
}
body {
    background-color: bisque;
}
.nav {
    display: flex;
    
}
.nav-links {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 0px;
    margin: 10px;
    list-style-type: none;
    color: white;
    background-color: rgb(68, 66, 66);
    width: 700px;
    height: 40px;
}
.nav-links li {
    color: white;
}
.btn {
    background-color: rgb(27, 149, 158);
    color: white;
    box-shadow: 5px 10px 18px black;

}
.nav-title {
    width: 800px;
    justify-content: space-evenly;
    background-color: rgb(68, 66, 66);
    color: white;
    margin: 10px;
    align-items: center;
    height: 40px;
    padding: 0px;
}